:root {
  --lightBlue: rgb(0, 181, 204);
  --green: #b2df28;
  --darkGreen: #92b723;
  --black: rgba(20, 20, 20);
  --blackLight: rgb(20, 20, 20, 0.85);
}

html {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

a {
  color: #fff;
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--lightBlue);
  padding: 0.5rem;
  transition: background-color 0.5s;
}

.header.dark {
  background-color: var(--black);
}

.header__logo {
  width: 7rem;
}

.nav {
  display: flex;
  justify-content: space-around;
}

.nav__bar {
  display: none;
  margin: 1rem;
  font-size: 2rem;
  color: var(--green);
  cursor: pointer;
}

.nav__link {
  font-size: 1.1rem;
  margin: 1rem;
  font-weight: 600;
}

.nav__link.active {
  color: var(--green);
  text-decoration: underline 3px var(--green);
}

.nav__actions {
  display: flex;
  align-items: center;
}

.nav__actions div {
  height: fit-content;
  background-color: var(--green);
  border-radius: 20%;
}

.theme-changer {
  margin: 0.5rem;
  font-size: 1.3rem;
  color: #fff;
  cursor: pointer;
}

.fa-sun {
  color: #f39f18;
}

.language-changer {
  background: none;
  border: none;
  color: #141414;
  font-style: italic;
}

.language-changer option {
  color: #000;
}

@media only screen and (max-width: 800px) {
  .nav {
    display: none;
  }

  .nav__bar {
    display: "";
  }

  .nav.active {
    display: flex;
  }
}
