:root {
  --lightBlue: rgb(0, 181, 204);
  --green: #b2df28;
  --darkGreen: #92b723;
  --black: rgba(20, 20, 20);
  --lightBlack: rgb(20, 20, 20, 0.93);
}

html {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

a {
  color: #fff;
  text-decoration: none;
}

hr {
  color: var(--green);
}
/* --------- BTN --------- */

.btn {
  padding: 0.5rem 1.5em;
  border: none;
  border-radius: 0.3rem;
  box-shadow: 1px 2px 5px var(--black);
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--black);
  background-color: var(--green);
  cursor: pointer;
}

.btn:hover {
  background-color: var(--darkGreen);
}

/* --------- HEADER --------- */

.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--lightBlue);
  padding: 0.5rem 4%;
  transition: background-color 0.5s, top 0.4s ease-in-out;
  z-index: 1000;
}

.header.down {
  top: -100%;
}

.header.dark {
  background-color: var(--black);
}

.header__logo {
  width: 7rem;
}

.nav {
  display: flex;
  justify-content: space-around;
}

.nav__bar {
  display: none;
  margin: 1rem;
  font-size: 2rem;
  color: var(--green);
  cursor: pointer;
}

.nav__bar:hover {
  color: var(--darkGreen);
}

.nav__link {
  font-size: 1.1rem;
  margin: 1rem;
  font-weight: 600;
}

.nav__link.active,
.nav__link:hover {
  color: var(--green);
  text-decoration: underline 3px var(--green);
}

.nav__actions {
  display: flex;
  align-items: center;
}

.nav__actions div {
  height: fit-content;
  background-color: var(--green);
  border-radius: 20%;
}

.theme-changer {
  margin: 0.5rem;
  font-size: 1.3rem;
  color: #fff;
  cursor: pointer;
}

.fa-sun {
  color: #f39f18;
}

.language-changer {
  background: none;
  border: none;
  color: #141414;
  font-style: italic;
}

.language-changer option {
  color: #000;
}

/* --------- HOME --------- */

.home {
  transition: background-color 0.5s ease-in-out;
}

.home.dark {
  background-color: var(--lightBlack);
}

.home__resume {
  text-align: center;
}

.home__header {
  background: url("../src/assets/thumb-1920-606024.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 90vh;
  overflow: hidden;
  border-radius: 0 0 1rem 1rem;
}

.home__resume-text {
  display: flex;
}

.home__resume-text p {
  margin: auto;
  max-width: 70rem;
  padding: 0rem 3%;
  padding-bottom: 3rem;
  white-space: pre-wrap;
  font-size: 1.2rem;
  color: #fff;
  line-height: 1.4;
}

.home__resume-text p img {
  margin: auto;
  display: block;
  width: 100%;
  max-width: 20rem;
}

.home__resume.light p {
  color: var(--black);
}

.main-characters {
  text-align: center;
}

.main-characters__title {
  color: var(--green);
  text-align: center;
  font-size: 2rem;
}

.main-characters__container {
  /* /* background-color: #92b723; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  align-content: center;

  text-align: center;
}

/* --------- CHARACTER --------- */
.character {
  margin: auto;
  width: 100%;
  max-width: 420px;
  min-width: 300px;
  transition: transform 0.3s ease-in-out;
  text-decoration: none;
}

.character:hover {
  transform: scale(1.1);
}

.character img {
  width: 100%;
  border-radius: 2rem;
}

.character figcaption {
  font-size: 2rem;
  color: var(--lightBlue);
  font-weight: bold;
}

/* --------- FOOTER --------- */

.footer {
  padding: 1rem 2rem;
  text-align: center;
  color: var(--green);
  transition: background-color 0.5s ease-in-out;
}

.footer.light {
  background-color: var(--lightBlue);
}

.footer.dark {
  background-color: var(--black);
}

.footer__links {
  display: flex;
  justify-content: space-around;
  margin: 1rem 0;
  width: 100%;
  font-weight: 800;
  text-align: center;
}

.footer__links a {
  font-size: 1.3rem;
  color: #fff !important;
}

.footer__links a:hover {
  color: #cce77a !important;
}

.footer a {
  text-decoration: none;
  color: var(--green);
}

.footer a:hover {
  color: var(--darkGreen);
}

.footer__copyright {
  margin: auto;
  /* width: 100%; */
  margin-bottom: 2rem;
}

.footer__social-media {
  margin: 0.5rem auto;
  width: 100%;
  font-size: 2rem;
  text-align: center;
}

.footer__social-media i {
  margin: 0 1rem;
}

.footer__personal-website {
  color: var(--green);
}

.footer__personal-website:hover {
  color: var(--darkGreen);
}

@media only screen and (max-width: 1000px) {
  .home__header {
    height: 50vh;
  }

  .home__resume-text {
    display: block;
  }

  .home__resume-text .img {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  .header.scrollTop {
    position: sticky;
    top: 0;
  }

  .nav__bar {
    display: block;
  }

  .nav {
    position: fixed;
    top: 5rem;
    right: -50rem;
    flex-direction: column;
    width: 90%;
    height: 100vh;
    padding-top: 2.5rem;
    text-align: center;
    background-color: var(--lightBlue);
    transition: background-color 0.5s, right 0.3s ease-in-out !important;
  }

  .nav.light {
    background-color: rgba(0, 181, 204, 0.9);
  }

  .nav.dark {
    background-color: var(--lightBlack);
  }

  .nav.active {
    right: 0;
  }

  .nav__link {
    margin-bottom: 2rem;
    font-size: 1.6rem;
  }

  .nav__actions {
    margin: auto;
    margin-top: 1rem;
  }
}
